doctype html
html(lang="en")
  head
    base(href="/")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0")
    title Smooth Image

    link(rel="prefetch", href="/api/v2/cmx/members/~")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js")

  body
    .smooth-image-body(ng-app="smooth-image")
      ul
        li
          smooth-image(image="https://picsum.photos/200/300?image=0")
        li
          smooth-image(image="https://picsum.photos/200/300?image=1")
        li
          smooth-image(image="https://picsum.photos/200/300?image=2")
        li
          smooth-image(image="https://picsum.photos/200/300?image=3")
        li
          smooth-image(image="https://picsum.photos/200/300?image=4")
        li
          smooth-image(image="https://picsum.photos/200/300?image=5")
        li
          smooth-image(image="https://picsum.photos/200/300?image=6")
        li
          smooth-image(image="https://picsum.photos/200/300?image=7")
        li
          smooth-image(image="https://picsum.photos/200/300?image=8")
        li
          smooth-image(image="https://picsum.photos/200/300?image=9")
        li
          smooth-image(image="https://picsum.photos/200/300?image=10")
        li
          smooth-image(image="https://picsum.photos/200/300?image=11")
        li
          smooth-image(image="https://picsum.photos/200/300?image=12")
        li
          smooth-image(image="https://picsum.photos/200/300?image=13")
        li
          smooth-image(image="https://picsum.photos/200/300?image=14")
        li
          smooth-image(image="https://picsum.photos/200/300?image=15")
