smooth-image {
  display: block;
  height: 100%;
}

.smooth-image {
  position: relative;
  height: 100%;
  display: block;

  .background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }

  .is-preloading {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.1);
    opacity: 1;
    transition: opacity ease-out 350ms;
    will-change: opacity;
  }
}
